<!-- table to support left column nav -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr valign="top">
<td>

<!-- usercp nav -->
<table class="tborder" cellpadding="6" cellspacing="1" border="0">
<tbody>
<tr><td class="tcat" nowrap="nowrap"><a href="/profile?mode=editprofile">لوحة التحكم</a></td></tr>
<tr><td class="thead"><a href="member.php?u=1">ملفي الشخصي</a></td></tr>
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile">تعديل بياناتي</a></td></tr>
	
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile&page_profil=preferences">خصوصية الملف الشخصي</a></td></tr>
	
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile&page_profil=avatars">تعديل صورة الملف الشخصي</a></td></tr>
	
<tr><td class="thead">الإتصــالات</td></tr>
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile&page_profil=friendsfoes">الاتصالات والأصدقاء</a></td></tr>
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/groups">المجموعات</a></td></tr>
	
	
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/gallery/index.htm">ألبوماتي</a></td></tr>
	
<tr><td class="thead">الإعدادات / الخيارات</td></tr>
	

	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile&page_profil=signature">تعديل التوقيع</a></td></tr>
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile">تعديل البريد // كلمة المرور</a></td></tr>
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile&page_profil=preferences">الخيارات العامة</a></td></tr>
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile&page_profil=facebook">دعوة الأصدقاء من Facebook</a></td></tr>

<tr>
	<td class="thead" nowrap="nowrap">
	<span id="nav_pmfolders">الرسائل الخاصة</span>
	
		<div class="vbmenu_popup" id="nav_pmfolders_menu" style="display:none">
			<table cellpadding="4" cellspacing="1" border="0">
			<tr>
				<td class="thead" nowrap="nowrap">المجلدات</td>
			</tr>
			<tr>
	<td class="vbmenu_option"><a href="/privmsg">صندوق الوارد</a></td>
</tr><tr>
	<td class="vbmenu_option"><a href="/privmsg?folder=sentbox">صندوق الصادر</a></td>
</tr>
			</table>
		</div>
	
	</td>
</tr>
	<tr><td class="alt1" nowrap="nowrap"><a class="smallfont" href="/privmsg">قائمة الرسائل</a></td></tr>
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/privmsg?mode=post">إرسال رسالة جديدة</a></td></tr>
	
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/privmsg?folder=outbox">تتبع الرسائل</a></td></tr>
	
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/privmsg?folder=sentbox">الرسائل الصادره</a></td></tr>
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/msg.forum?folder=savebox">ارشيف الرسائل</a></td></tr>
<tr>
	<td class="thead" nowrap="nowrap">
		<span id="nav_subsfolders">مواضيع مشترك بها</span>
		
			<div class="vbmenu_popup" id="nav_subsfolders_menu" style="display:none">
				<table cellpadding="4" cellspacing="1" border="0">
				<tr>
					<td class="thead" nowrap="nowrap">المجلدات</td>
				</tr>
				<tr>
	<td class="vbmenu_option"><a href="subscription.php?folderid=0">الاشتراكات</a></td>
</tr>
				</table>
			</div>
		
	</td>
</tr>
    <tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/search?search_id=egosearch">قائمة الإشتراكات</a></td></tr>
	<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/profile?mode=editprofile&page_profil=attachments">المرفقات</a></td></tr>

</tbody>

<tbody id="nav_moderation">

	


	<tr><td class="thead">المواد المراقبة</td></tr>
	
		<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/search?search_id=activetopics">أفضل المواضيع لهذا اليوم</a></td></tr>
		<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/memberlist?mode=today_posters"> أفضل 20 مشارك لهذا اليوم</a></td></tr>
	
	
		<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/search?search_id=newposts">استعرض المواضيع الجديدة</a></td></tr>
	
	
  <tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/search?search_id=unanswered">المواضيع التي لم يتم الرد عليها</a></td></tr>
	
	
		<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="/memberlist?mode=overall_posters">أفضـل 20 عضــو فآلمنتدى</a></td></tr>
	
	
	
		<tr><td class="alt2" nowrap="nowrap"><a class="smallfont" href="moderation.php?do=viewpics"></a></td></tr>
	





</tbody>

</table>
<!-- / usercp nav -->


<!-- moderation popups -->

<div class="vbmenu_popup" id="nav_deleteditems_menu" style="display:none">
	<table cellpadding="4" cellspacing="1" border="0">

		<tr><td class="thead" nowrap="nowrap">المواد المحذوفة</td></tr>
		
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewthreads&amp;type=deleted">المواضيع</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewposts&amp;type=deleted">المشاركات</a></td></tr>
		
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewvms&amp;type=deleted">رسائل الزوار</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewgms&amp;type=deleted">رسائل المجموعة</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewdiscussions&amp;type=deleted">حوارات المجموعة</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewpcs&amp;type=deleted">التعليقات على الصور</a></td></tr>

	</table>
</div>
<script type="text/javascript"> vbmenu_register("nav_deleteditems"); </script>



<div class="vbmenu_popup" id="nav_moderateditems_menu" style="display:none">
	<table cellpadding="4" cellspacing="1" border="0">

		<tr><td class="thead" nowrap="nowrap">المواد المراقبة</td></tr>
		
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewthreads&amp;type=moderated">المواضيع</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewposts&amp;type=moderated">المشاركات</a></td></tr>
		
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewvms&amp;type=moderated">رسائل الزوار</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewgms&amp;type=moderated">رسائل المجموعة</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewdiscussions&amp;type=moderated">حوارات المجموعة</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewpcs&amp;type=moderated">التعليقات على الصور</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewpics"></a></td></tr>

	</table>
</div>
<script type="text/javascript"> vbmenu_register("nav_moderateditems"); </script>



<div class="vbmenu_popup" id="nav_newitems_menu" style="display:none">
	<table cellpadding="4" cellspacing="1" border="0">

		<tr><td class="thead" nowrap="nowrap">المواد الجديدة</td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewvms&amp;type=new">رسائل الزوار</a></td></tr>
		<tr><td class="vbmenu_option"><a  href="moderation.php?do=viewgms&amp;type=new">رسائل المجموعة</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewdiscussions&amp;type=new">حوارات المجموعة</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewpcs&amp;type=new">التعليقات على الصور</a></td></tr>
		<tr><td class="vbmenu_option"><a href="moderation.php?do=viewpics&amp;type=new"></a></td></tr>

	</table>
</div>

	
</td>
<td>&nbsp;&nbsp;</td>
<td width="100%">


<form action="{S_PRIVMSGS_ACTION}" method="post">


  <div id="posts">
<div align="center">
	<div class="page" style="width:100%; text-align:right">
		<!-- <div style="padding:0px 25px 0px 25px" align="right"> -->
		<div align="right">
	<div id="edit5805278" style="padding:0px 0px 6px 0px">
	<!-- this is not the last post shown on the page -->
<table id="post5805278" class="tborder vbseo_like_postbit postdev" align="center" border="0" cellpadding="6" cellspacing="0" width="100%">
<tbody>
<tr valign="top">
	<td class="alt1" style=" border-top: 0px; border-bottom: 0px; " width="175">
	<div class="userinfo12">
<center>
<img src="http://a7la.pe.hu/dev1/images/userinfo.png">
			<div id="postmenu_5805278">
			</div>
				<!-- Username -->
				<center>
				<table dir="rtl">
					<tbody><tr>
					<td>
						</td>
						<td align="center">
				<span class="smallusername">{L_FROM}: {MESSAGE_FROM}<br> </span>
				<script type="text/javascript"> vbmenu_register("postmenu_5805278", true); </script>
                                <span class="smallusername">{L_TO}: {MESSAGE_TO}<br> </span>
				</td>
					</tr>
				</tbody></table>
				</center>
				<!-- Username -->
				<div class="smallfont">
					&nbsp;<br>{AVATAR_FROM}
				</div>
                                  <br>
                                    <br>
			
</center>

</div>
<br><br>

<a rel="nofollow" class="edit_friends_link button hint--left hint--success" data-hint="أضافة" href="/profile?friend=&mode=editprofile&page_profil=friendsfoes"><span class="fa">  </span></a>

  <span class="name_topic"></span>
	</td>
	<td class="alt1" id="td_post_5805278" style="border-left: 0px solid #EEE">
			<!-- icon and title -->
			<div class="smallfont">
				<img title="{postrow.displayed.L_MINI_POST_ALT}" class="inlineimg" src="{postrow.displayed.MINI_POST_IMG}" alt="{postrow.displayed.L_MINI_POST_ALT}" border="0">
				<strong>{L_SUBJECT}: {POST_SUBJECT}</strong>
<!-- status icon and date -->

<img src="{postrow.displayed.MINI_TIME_IMG}" class="inlineimg" alt="" border="0" />{POST_DATE}
			<a name="newpost"></a> بواسطة WEB <span class="fa hint--top" data-hint="المتصفح" style="color:#AAA">  </span>
			<!-- / status icon and date -->
<!--<span style="float: left;"><span style="color:#FF0000; font-size: 16px" class="fa">  </span><span>&nbsp;&nbsp;إن كنت ترى ان هذه المشاركة سيئة  , 
				</span>
<script>jQuery(document).ready(function(){jQuery.get('#', function(data) {link = jQuery('#report_topic a', data).attr('href');if(link){jQuery('#report_topic_2').html('<a rel="nofollow" href="'+link+'"><span>اضغط هنا</span></a></span>');}else{jQuery('#report_topic_2').html('');}});});</script>
<span id="report_topic_2"></span>-->
			</div>
			<hr style="color:#EEE; background-color:#EEE" size="1">
			<!-- / icon and title -->
		<!-- message -->
		<div class="postbitcontent" style="padding-top:30px; padding-bottom: 60px;" id="post_message_5805278">
			<div id="threadcontent">
			<center>{MESSAGE}</center>
			</div>
		</div>
		<!-- / message -->

	</td>
</tr>
<tr>
	<td class="alt2" style="border: 0px solid #EEE; border-top: 0px">
			</td>
	<td class="alt1" style="border: 0px solid #EEE; border-right: 0px; border-top: 0px" align="left">
{EDIT_PM_IMG} {QUOTE_PM_IMG}
	</td>
</tr>
</tbody></table>
	</div>
		</div>
	</div>
</div>

</div>



<!-- / by galaxy css -->
<table width="100%" border="0" cellspacing="2" cellpadding="0" align="center">
	<tr>
		<td>
			<!-- BEGIN switch_post_reply -->
			{REPLY_PM_IMG}
			<!-- END switch_post_reply -->
		</td>
		<td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span></td>
	</tr>
	
</table>
  <table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center">
<thead>
	<tr>

		<td class="tcat">
			<a style="float:left" href="#top" onclick="return toggle_collapse('pm_delete')"><img id="collapseimg_pm_delete" src="http://a7la.pe.hu/dev1/images/collapse_tcat.gif" alt="" border="0"></a>
			حذف هذه الرسالة
		</td>
	</tr>
</thead>
<tbody id="collapseobj_pm_delete" style="">
	<tr>
		<td class="panelsurround" align="center">
		<div class="panel">

			<div style="width:95%" align="right">

			<fieldset class="fieldset">
				<legend>حذف الرسالة</legend>
				<table cellpadding="0" cellspacing="3" border="0">
				<tr>
					<td>لحذف هذه الرسالة, اختر الخيار المناسب أدناه ثم اضغط على زر 'حذف هذه الرسالة'.</td>
				</tr>

				<tr>
					<td><label for="deletepm"><input type="checkbox" name="pm[1]" id="deletepm" value="true" />حذف هذه الرسالة</label></td>
				</tr>
				</table>
			</fieldset>

			</div>
		</div>

		<div style="margin-top:6px">
			
                  {S_HIDDEN_FIELDS}
			<!-- BEGIN switch_save -->
			<input class="button" type="submit" name="save" value="{L_SAVE_MSG}" />&nbsp;&nbsp;
			<!-- END switch_save -->
			<!-- BEGIN switch_move_profile -->
			<input class="button" type="submit" name="moveprofile" value="{L_MOVE_PROFILE}" />&nbsp;&nbsp;
			<!-- END switch_move_profile -->
			<input class="button" type="submit" name="delete" value="{L_DELETE_MSG}" />
		
		
		</div>
		</td>

	</tr>
</tbody>
</table>
</form>

<!-- BEGIN switch_image_resize -->
<script type="text/javascript">
//<![CDATA[
$(resize_images({ 'selector' : '.postbody', 'max_width' : {switch_image_resize.IMG_RESIZE_WIDTH}, 'max_height' : {switch_image_resize.IMG_RESIZE_HEIGHT} }));
//]]>
</script>
<!-- END switch_image_resize -->
