ï»؟<!-- content table -->
<br/>


<form action="javascript:ischecked()" method="post">
    <input name="s" value="" type="hidden"/>
    <input name="securitytoken" value="guest" type="hidden"/>
    <input name="do" value="register" type="hidden"/>
    <input name="url" value="{U_INDEX}" type="hidden"/>
    <input name="month" value="" type="hidden"/>
    <input name="day" value="" type="hidden"/>
    <input name="year" value="" type="hidden"/>

    <input name="who" value="adult" type="hidden"/>


<table class="tborder" width="100%" align="center" border="0" cellpadding="6" cellspacing="1">
<tbody><tr>
    <td class="tcat">ظ‚ظˆط§ظ†ظٹظ† ظˆط´ط±ظˆط· {L_INDEX}</td>
</tr>
<tr>
    <td class="panelsurround" align="center">
    <div class="panel">
        <div style="width:640px" align="right">

            <fieldset class="fieldset">
                <legend>ظ‚ظˆط§ظ†ظٹظ† ظˆط´ط±ظˆط· {L_INDEX}</legend>
                <table width="100%" border="0" cellpadding="0" cellspacing="3">
                <tbody><tr>
                    <td>ظٹط¬ط¨ ط¹ظ„ظٹظƒ ظ‚ط±ط§ط،ط©  ظ‚ظˆط§ظ†ظٹظ† ظˆط´ط±ظˆط·  ط§ظ„ط§ط´طھط±ط§ظƒ ظپظٹ ط§ظ„ظ…ظ†طھط¯ظ‰ ظˆط§ظ„ظ…ظˆط§ظپظ‚ط© ط¹ظ„ظٹظ‡ط§ , ظ‚ط¨ظ„ ط§ظ„ط¨ط¯ط، ظپظٹ ط¹ظ…ظ„ظٹط© ط§ظ„طھط³ط¬ظٹظ„:</td>
                </tr>
                <tr>
                    <td>

                        <div class="page" style="border:thin inset; padding:6px; height:175px; overflow:auto">



                            <!-- regular forum rules -->

<p style="color: Red; font-weight: bold;" align="right">&nbsp;<strong>ظ‚ظˆط§ظ†ظٹظ† ظˆط´ط±ظˆط· {L_INDEX}</strong>
</p><p style="color: DarkRed;"><strong>ط§ظ„طھط³ط¬ظٹظ„ ظپظٹ ط§ظ„ظ…ظ†طھط¯ظ‰ ظ…ط¬ط§ظ†ظٹ ! ظ†ط­ظ† ظ†طµط± ط¹ظ„ظ‰ ط¥ظ„طھط²ط§ظ…ظƒ ط¨ط§ظ„ظ‚ظˆط§ط¹ط¯
ظˆط§ظ„ط´ط±ظˆط· ظˆط§ظ„ط³ظٹط§ط³ط§طھ ط§ظ„ظ…ظپطµظ„ط© ط£ط¯ظ†ط§ظ‡. ط¥ط°ط§ ظˆط§ظپظ‚طھ ط¹ظ„ظ‰ ط§ظ„ط´ط±ظˆط·, ط§ظ„ط±ط¬ط§ط، ط§ط¶ط؛ط· ط¹ظ„ظ‰
ظ…ط±ط¨ط¹ ' ط£ظˆط§ظپظ‚ ' ظˆط§ط¶ط؛ط· ط¹ظ„ظ‰ ط²ط± 'ط§ظ„طھط³ط¬ظٹظ„' ط£ط¯ظ†ط§ظ‡. ط¥ط°ط§ ط§ط±ط¯طھ ط¥ظ„ط؛ط§ط، ط§ظ„طھط³ط¬ظٹظ„, </strong><a style="color: Blue;" href="{U_INDEX}"><strong>ط§ط¶ط؛ط· ظ‡ظ†ط§</strong></a><strong><span style="color: Blue;"> </span>ظ„ظ„ط¹ظˆط¯ط© ظ„ظ„طµظپط­ط© ط§ظ„ط±ط¦ظٹط³ظٹط© ظ„ظ„ظ…ظ†طھط¯ظٹ ط§ظ„ط¹ط±ط¨ظٹ.</strong></p>
<p style="color: DarkRed;"><strong>ط¥ظ† ظ…ط´ط±ظپظٹ ظˆط¥ط¯ط§ط±ظٹظٹ&nbsp;ط§ظ„ظ…ظ†طھط¯ظ‰ ط¨ط§ظ„ط±ط؛ظ… ظ…ظ† ظ…ط­ط§ظˆظ„طھظ‡ظ… ظ…ظ†ط¹ ط¬ظ…ظٹط¹
ط§ظ„ظ…ط´ط§ط±ظƒط§طھ ط§ظ„ظ…ط®ط§ظ„ظپط©طŒ ظپط¥ظ†ظ‡ ظ„ظٹط³ ط¨ظˆط³ط¹ظ‡ظ… ط§ط³طھط¹ط±ط§ط¶ ط¬ظ…ظٹط¹ ط§ظ„ظ…ط´ط§ط±ظƒط§طھ. ظˆط¬ظ…ظٹط¹
    ط§ظ„ظ…ظˆط§ط¶ظٹط¹ طھط¹ط¨ط± ط¹ظ† ظˆط¬ظ‡ط© ظ†ط¸ط± ظƒط§طھط¨ظ‡ط§<br/>ظˆظ„ط§ ظٹطھط­ظ…ظ„ ط£ظٹ ظ…ظ† ط¥ط¯ط§ط±ط© ظ…ظ†طھط¯ظٹط§طھ ظپط±ظپط´
ط£ظٹ ظ…ط³ط¤ظˆظ„ظٹط© ط¹ظ† ظ…ط¶ط§ظ…ظٹظ† ط§ظ„ظ…ط´ط§ط±ظƒط§طھ ,ط¹ط¯ظ… ط§ظ„طھط¯ط®ظ„ ظپظٹ ط®طµظˆطµظٹط© ط§ظ„ط£ط¹ط¶ط§ط، ط£ظˆ ط§ظ„ط¥ط³ط§ط،ط©
ط¥ظ„ظٹظ‡ظ…, طھظ…ظ†ط¹ ط§ط³ط§ط،ظ‡ ط§ط³طھط؛ظ„ط§ظ„ ط§ظ„ط±ط³ط§ط¦ظ„ ط§ظ„ط®ط§طµط© ظپظ‰ ط§ظ„طھظ‡ط¬ظ… ط¹ظ„ظ‰ ط§ظ„ط§ط¹ط¶ط§ط، ط§ظˆ ط§ط±ط³ط§ظ„
ط±ط³ط§ط¦ظ„ ط§ظ„ط§ط´ظ‡ط§ط± ظ‡ط°ط§ ظٹط¹ط±ط¶ ط¹ط¶ظˆظٹطھظƒ ظ„ط§ظٹظ‚ط§ظپ ظˆط§ظ„ط·ط±ط¯ ط§ظ„ظ…ط¨ط§ط´ط± ,ظٹظ…ظ†ط¹ ظˆط¶ط¹ ط§ظ‰ ظ…ظˆط¶ظˆط¹
ط§ظ‰ ظ…ط§ط¯ظ‡ طھظ†ط§ظپظ‰ ط§ظ„ط§ط¯ط§ط¨ ط§ظ„ط§ط³ظ„ط§ظ…ظٹظ‡ ظ…ظ† طµظˆط± ط§ظˆ ط§ظپظ„ط§ظ… ط§ظˆ ط§ط؛ط§ظ†ظ‰ </strong></p>
<p style="color: DarkRed;"><strong>ط¨ط§ظ„ظ†ظ‚ط± ط¹ظ„ظ‰ ط²ط± "ظ…ظˆط§ظپظ‚" ط£ط¯ظ†ط§ظ‡طŒ ظپط¥ظ†ظƒ طھظˆط§ظپظ‚ ط¹ظ„ظ‰ ط¹ط¯ظ… ظ†ط´ط± ط£ظٹ ظ…ط´ط§ط±ظƒط©
 طھط®ط§ظ„ظپ ظ‚ظˆط§ظ†ظٹظ† ط§ظ„ظ…ظ†طھط¯ظ‰ . ط¥ظ† ظ…ط§ظ„ظƒظٹ&nbsp;ط§ظ„ظ…ظ†طھط¯ظ‰&nbsp; ظ„ط¯ظٹظ‡ظ… ط­ظ‚ ط­ط°ظپ طŒ ط£ظˆ ظ…ط³ط­ طŒ ط£ظˆ
طھط¹ط¯ظٹظ„طŒ ط£ظˆ ط¥ط؛ظ„ط§ظ‚ ط£ظٹ ظ…ظˆط¶ظˆط¹ ظ„ط£ظٹ ط³ط¨ط¨ ظٹط±ظˆظ†ظ‡طŒ ظˆظ„ظٹط³ظˆط§ ظ…ظ„ط²ظ…ظٹظ† ط¨ط¥ط¹ظ„ط§ظ†ظ‡</strong></p>
<p style="color: DarkRed;"><strong>ط¹ط¯ظ… ط§ظ„طھط¯ط®ظ„ ظپظٹ ط®طµظˆطµظٹط© ط§ظ„ط£ط¹ط¶ط§ط، ط£ظˆ ط§ظ„ط¥ط³ط§ط،ط© ط¥ظ„ظٹظ‡ظ…</strong></p><div align="center"><u><font color="#ff0000"><strong>ظˆطھط°ظƒط± ظ‚ظˆظ„ ط§ظ„ظ„ظ‡ طھط¹ط§ظ„ظ‰ (( ظ…ط§ ظٹظ„ظپط¸ ظ…ظ† ظ‚ظˆظ„ ط¥ظ„ط§ ظ„ط¯ظٹظ‡ ط±ظ‚ظٹط¨ ط¹طھظٹط¯))</strong></font></u></div>

                            <!-- regular forum rules -->

                        </div>
                                                                                    <div><label for="cb_rules_agree"><input name="agree" id="cb_rules_agree" value="1" type="checkbox"/><strong>ظ‚ط±ط£طھ ظƒط§ظپط© ط´ط±ظˆط· ط§ظ„طھط³ط¬ظٹظ„ ظپظٹ ط§ظ„ظ…ظ†طھط¯ظٹ ط§ظ„ط¹ط±ط¨ظٹ طŒ ظˆط£ظˆط§ظپظ‚ ط¨ط§ظ„ط¥ظ„طھط²ط§ظ… ط¨ظ…ط§ ط¬ط§ط، ظپظٹظ‡ط§ .</strong></label></div>
                    </td>
                </tr>
                </tbody></table>
            </fieldset>
        </div>
    </div>

    <div style="margin-top:6px">
                    <input class="button" value="ط§ظ„طھط³ط¬ظٹظ„" accesskey="s" type="submit"/>

<script type="text/javascript">
function ischecked() {
if ($('#cb_rules_agree').is(":checked")) {
window.location.replace("{U_AGREE_OVER13}");
} else {
alert("ظ„ظ‚ط¯ ط§ط®طھط±طھ ظ„ط§ ط£ظ‚ط¨ظ„ ط¨ط´ط±ظˆط· ط§ظ„ظ…ظ†طھط¯ظ‰, ظ„ط°ط§ ظ„ظ† طھط³طھط·ظٹط¹ ط§ظ„ط§ط³طھظ…ط±ط§ط± ظپظٹ ط§ظ„طھط³ط¬ظٹظ„.");
}
}
</script>

    </div>
    </td>
</tr>
</tbody></table>

</form>

<br />

    <br/>
    <br/>


<!-- /content area table -->