<!-- content table -->
<br/>


<form action="javascript:ischecked()" method="post">
    <input name="s" value="" type="hidden"/>
    <input name="securitytoken" value="guest" type="hidden"/>
    <input name="do" value="register" type="hidden"/>
    <input name="url" value="{U_INDEX}" type="hidden"/>
    <input name="month" value="" type="hidden"/>
    <input name="day" value="" type="hidden"/>
    <input name="year" value="" type="hidden"/>

    <input name="who" value="adult" type="hidden"/>


<table class="tborder" width="100%" align="center" border="0" cellpadding="6" cellspacing="1">
<tbody><tr>
    <td class="tcat">ёж«днд ж‘—жЎ {L_INDEX}</td>
</tr>
<tr>
    <td class="panelsurround" align="center">
    <div class="panel">
        <div style="width:640px" align="right">

            <fieldset class="fieldset">
                <legend>ёж«днд ж‘—жЎ {L_INDEX}</legend>
                <table width="100%" border="0" cellpadding="0" cellspacing="3">
                <tbody><tr>
                    <td>нћ» Џбня ё—«Ѕ…  ёж«днд ж‘—жЎ  «б«‘ —«я Ён «бгд ѕм ж«бгж«Ёё… Џбне« , ё»б «б»ѕЅ Ён Џгбн… «б ”ћнб:</td>
                </tr>
                <tr>
                    <td>

                        <div class="page" style="border:thin inset; padding:6px; height:175px; overflow:auto">



                            <!-- regular forum rules -->

<p style="color: Red; font-weight: bold;" align="right">&nbsp;<strong>ёж«днд ж‘—жЎ {L_INDEX}</strong>
</p><p style="color: DarkRed;"><strong>«б ”ћнб Ён «бгд ѕм гћ«дн ! дЌд д’— Џбм ≈б “«гя »«бёж«Џѕ
ж«б‘—жЎ ж«б”н«”«  «бгЁ’б… √ѕд«е. ≈–« ж«Ёё  Џбм «б‘—жЎ, «б—ћ«Ѕ «÷џЎ Џбм
г—»Џ ' √ж«Ёё ' ж«÷џЎ Џбм “— '«б ”ћнб' √ѕд«е. ≈–« «—ѕ  ≈бџ«Ѕ «б ”ћнб, </strong><a style="color: Blue;" href="{U_INDEX}"><strong>«÷џЎ ед«</strong></a><strong><span style="color: Blue;"> </span>ббЏжѕ… бб’ЁЌ… «б—∆н”н… ббгд ѕн «бЏ—»н.</strong></p>
<p style="color: DarkRed;"><strong>≈д г‘—Ён ж≈ѕ«—нн&nbsp;«бгд ѕм »«б—џг гд гЌ«жб ег гдЏ ћгнЏ
«бг‘«—я«  «бгќ«бЁ…° Ё≈де бн” »ж”Џег «” Џ—«÷ ћгнЏ «бг‘«—я« . жћгнЏ
    «бгж«÷нЏ  Џ»— Џд жће… дў— я« »е«<br/>жб« н Ќгб √н гд ≈ѕ«—… гд ѕн«  Ё—Ё‘
√н г”ƒжбн… Џд г÷«гнд «бг‘«—я«  ,Џѕг «б ѕќб Ён ќ’ж’н… «б√Џ÷«Ѕ √ж «б≈”«Ѕ…
≈бнег,  гдЏ «”«Ѕе «” џб«б «б—”«∆б «бќ«’… Ём «б ећг Џбм «б«Џ÷«Ѕ «ж «—”«б
—”«∆б «б«‘е«— е–« нЏ—÷ Џ÷жн я б«нё«Ё ж«бЎ—ѕ «бг»«‘— ,нгдЏ ж÷Џ «м гж÷жЏ
«м г«ѕе  д«Ём «б«ѕ«» «б«”б«гне гд ’ж— «ж «Ёб«г «ж «џ«дм </strong></p>
<p style="color: DarkRed;"><strong>»«бдё— Џбм “— "гж«Ёё" √ѕд«е° Ё≈дя  ж«Ёё Џбм Џѕг д‘— √н г‘«—я…
  ќ«бЁ ёж«днд «бгд ѕм . ≈д г«бян&nbsp;«бгд ѕм&nbsp; бѕнег Ќё Ќ–Ё ° √ж г”Ќ ° √ж
 Џѕнб° √ж ≈џб«ё √н гж÷жЏ б√н ”»» н—жде° жбн”ж« гб“гнд »≈Џб«де</strong></p>
<p style="color: DarkRed;"><strong>Џѕг «б ѕќб Ён ќ’ж’н… «б√Џ÷«Ѕ √ж «б≈”«Ѕ… ≈бнег</strong></p><div align="center"><u><font color="#ff0000"><strong>ж –я— ёжб «ббе  Џ«бм (( г« нбЁў гд ёжб ≈б« бѕне —ён» Џ нѕ))</strong></font></u></div>

                            <!-- regular forum rules -->

                        </div>
                                                                                    <div><label for="cb_rules_agree"><input name="agree" id="cb_rules_agree" value="1" type="checkbox"/><strong>ё—√  я«Ё… ‘—жЎ «б ”ћнб Ён «бгд ѕн «бЏ—»н ° ж√ж«Ёё »«б≈б “«г »г« ћ«Ѕ Ёне« .</strong></label></div>
                    </td>
                </tr>
                </tbody></table>
            </fieldset>
        </div>
    </div>

    <div style="margin-top:6px">
                    <input class="button" value="«б ”ћнб" accesskey="s" type="submit"/>

<script type="text/javascript">
function ischecked() {
if ($('#cb_rules_agree').is(":checked")) {
window.location.replace("{U_AGREE_OVER13}");
} else {
alert("бёѕ «ќ —  б« √ё»б »‘—жЎ «бгд ѕм, б–« бд  ” ЎнЏ «б«” г—«— Ён «б ”ћнб.");
}
}
</script>

    </div>
    </td>
</tr>
</tbody></table>

</form>

<br />

    <br/>
    <br/>


<!-- /content area table -->