<!-- content table -->
<br/>


<form action="javascript:ischecked()" method="post">
    <input name="s" value="" type="hidden"/>
    <input name="securitytoken" value="guest" type="hidden"/>
    <input name="do" value="register" type="hidden"/>
    <input name="url" value="{U_INDEX}" type="hidden"/>
    <input name="month" value="" type="hidden"/>
    <input name="day" value="" type="hidden"/>
    <input name="year" value="" type="hidden"/>

    <input name="who" value="adult" type="hidden"/>


<table class="tborder" width="100%" align="center" border="0" cellpadding="6" cellspacing="1">
<tbody><tr>
    <td class="tcat">قوانين وشروط {L_INDEX}</td>
</tr>
<tr>
    <td class="panelsurround" align="center">
    <div class="panel">
        <div style="width:640px" align="right">

            <fieldset class="fieldset">
                <legend>قوانين وشروط {L_INDEX}</legend>
                <table width="100%" border="0" cellpadding="0" cellspacing="3">
                <tbody><tr>
                    <td>يجب عليك قراءة  قوانين وشروط  الاشتراك في المنتدى والموافقة عليها , قبل البدء في عملية التسجيل:</td>
                </tr>
                <tr>
                    <td>

                        <div class="page" style="border:thin inset; padding:6px; height:175px; overflow:auto">



                            <!-- regular forum rules -->

<p style="color: Red; font-weight: bold;" align="right">&nbsp;<strong>قوانين وشروط {L_INDEX}</strong>
</p><p style="color: DarkRed;"><strong>التسجيل في المنتدى مجاني ! نحن نصر على إلتزامك بالقواعد
والشروط والسياسات المفصلة أدناه. إذا وافقت على الشروط, الرجاء اضغط على
مربع ' أوافق ' واضغط على زر 'التسجيل' أدناه. إذا اردت إلغاء التسجيل, </strong><a style="color: Blue;" href="{U_INDEX}"><strong>اضغط هنا</strong></a><strong><span style="color: Blue;"> </span>للعودة للصفحة الرئيسية للمنتدي العربي.</strong></p>
<p style="color: DarkRed;"><strong>إن مشرفي وإداريي&nbsp;المنتدى بالرغم من محاولتهم منع جميع
المشاركات المخالفة، فإنه ليس بوسعهم استعراض جميع المشاركات. وجميع
    المواضيع تعبر عن وجهة نظر كاتبها<br/>ولا يتحمل أي من إدارة منتديات فرفش
أي مسؤولية عن مضامين المشاركات ,عدم التدخل في خصوصية الأعضاء أو الإساءة
إليهم, تمنع اساءه استغلال الرسائل الخاصة فى التهجم على الاعضاء او ارسال
رسائل الاشهار هذا يعرض عضويتك لايقاف والطرد المباشر ,يمنع وضع اى موضوع
اى ماده تنافى الاداب الاسلاميه من صور او افلام او اغانى </strong></p>
<p style="color: DarkRed;"><strong>بالنقر على زر "موافق" أدناه، فإنك توافق على عدم نشر أي مشاركة
 تخالف قوانين المنتدى . إن مالكي&nbsp;المنتدى&nbsp; لديهم حق حذف ، أو مسح ، أو
تعديل، أو إغلاق أي موضوع لأي سبب يرونه، وليسوا ملزمين بإعلانه</strong></p>
<p style="color: DarkRed;"><strong>عدم التدخل في خصوصية الأعضاء أو الإساءة إليهم</strong></p><div align="center"><u><font color="#ff0000"><strong>وتذكر قول الله تعالى (( ما يلفظ من قول إلا لديه رقيب عتيد))</strong></font></u></div>

                            <!-- regular forum rules -->

                        </div>
                                                                                    <div><label for="cb_rules_agree"><input name="agree" id="cb_rules_agree" value="1" type="checkbox"/><strong>قرأت كافة شروط التسجيل في المنتدي العربي ، وأوافق بالإلتزام بما جاء فيها .</strong></label></div>
                    </td>
                </tr>
                </tbody></table>
            </fieldset>
        </div>
    </div>

    <div style="margin-top:6px">
                    <input class="button" value="التسجيل" accesskey="s" type="submit"/>

<script type="text/javascript">
function ischecked() {
if ($('#cb_rules_agree').is(":checked")) {
window.location.replace("{U_AGREE_OVER13}");
} else {
alert("لقد اخترت لا أقبل بشروط المنتدى, لذا لن تستطيع الاستمرار في التسجيل.");
}
}
</script>

    </div>
    </td>
</tr>
</tbody></table>

</form>

<br />

    <br/>
    <br/>


<!-- /content area table -->