{JAVASCRIPT}
<!-- BEGIN message_admin_index -->
<table class="forumline" width="100%" border="0" cellspacing="1" cellpadding="0">
    <!-- BEGIN message_admin_titre -->
    <tr>
        <td class="catHead" height="28"><span class="cattitle">{message_admin_index.message_admin_titre.MES_TITRE}</span></td>
    </tr>
    <!-- END message_admin_titre -->
    <!-- BEGIN message_admin_txt -->
    <tr>
        <td class="row1" rowspan="3" align="center" valign="middle">
        <div class="gensmall">{message_admin_index.message_admin_txt.MES_TXT}</div>
        </td>
    </tr>
    <!-- END message_admin_txt -->
</table>
<!-- END message_admin_index -->

<!-- BEGIN switch_user_login_form_header -->
<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
    <!-- BEGIN switch_fb_connect_no -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
        <tr>
            <td class="row1" align="center">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
                        <td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
                        <td>
                            <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
                            <span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
                        <td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
                        <td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- END switch_fb_connect_no -->

    <!-- BEGIN switch_fb_connect -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
        <tr>
            <td valign="top" width="100%" class="row1" align="center">
                <table width="100%">
                    <tr>
                        <td width="55%" valign="middle" align="right">
                            <table class="right">
                                <tr>
                                    <td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
                                    <td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
                                    <td>
                                        <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
                                        <span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
                                    <td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
                                    <td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
                                </tr>
                            </table>
                        </td>
                        <td width="10%" align="center" valign="middle">
                            <span class="genmed fb_or">{switch_user_login_form_header.switch_fb_connect.L_OR}</span>
                        </td>
                        <td width="35%" class="align_gauche"><fb:login-button size="large" onlogin="window.location='/facebook_connect.forum'" v="2" scope="{switch_user_login_form_header.switch_fb_connect.L_FB_PERMISSIONS}">{switch_user_login_form_header.switch_fb_connect.L_FB_LOGIN_BUTTON}</fb:login-button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- END switch_fb_connect -->
</form>
<!-- END switch_user_login_form_header -->
{CHATBOX_TOP}
{BOARD_INDEX}

<!-- BEGIN switch_user_login_form_footer -->
<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
    <!-- BEGIN switch_fb_connect_no -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
        <tr>
            <td class="row1" align="center">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
                        <td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
                        <td>
                            <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
                            <span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
                        <td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
                        <td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- END switch_fb_connect_no -->

    <!-- BEGIN switch_fb_connect -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
        <tr>
            <td valign="top" width="100%" class="row1" align="center">
                <table width="100%">
                    <tr>
                        <td width="55%" valign="middle">
                            <table class="right">
                                <tr>
                                    <td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
                                    <td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
                                    <td>
                                        <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
                                        <span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
                                    <td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
                                    <td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
                                </tr>
                            </table>
                        </td>
                        <td width="10%" align="center" valign="middle">
                            <span class="genmed fb_or">{switch_user_login_form_footer.switch_fb_connect.L_OR}</span>
                        </td>
                        <td width="35%" class="align_gauche"><fb:login-button size="large" onlogin="window.location='/facebook_connect.forum'" v="2" scope="{switch_user_login_form_footer.switch_fb_connect.L_FB_PERMISSIONS}">{switch_user_login_form_footer.switch_fb_connect.L_FB_LOGIN_BUTTON}</fb:login-button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- END switch_fb_connect -->
</form>
<!-- END switch_user_login_form_footer -->

<!-- BEGIN disable_viewonline -->
<table class="tborder" align="center" border="0" cellpadding="6" cellspacing="0" width="100%">
<thead>
    <tr>
        <td class="tcat" colspan="2">إحصائيات المنتدى</td>
    </tr>
</thead>
<!-- logged-in users -->
<tbody>
    <tr>
        <td class="thead" colspan="2">
            <a style="float:left" href="#top" onclick="return toggle_collapse('forumhome_activeusers')"><img id="collapseimg_forumhome_activeusers" src="http://a7la.honor.es/dev1/images/collapse_thead.gif" alt="" border="0"></a>
            <a href="{U_VIEWONLINE}">المتواجدون الآن</a>: {TOTAL_USERS_ONLINE}
        </td>
    </tr>
</tbody>
<tbody id="collapseobj_forumhome_activeusers" style="">
    <tr>
        <td class="alt2"><a href="{U_VIEWONLINE}"><img title="مشاهدة المتواجدون الآن" src="http://a7la.honor.es/dev1/images/whos_online.gif" alt="مشاهدة المتواجدون الآن" border="0"></a></td>
        <td class="alt1" width="100%">
            <div class="smallfont">
                <div style="white-space: nowrap">{RECORD_USERS}</div>
                          <br />
                <div>{LOGGED_IN_USER_LIST}</div>
            </div>
        </td>
    </tr>
</tbody>
<!-- end logged-in users -->


<tbody>
    <tr>
        <td class="thead" colspan="2">
            <a style="float:left" href="#top" onclick="return toggle_collapse('forumhome_stats')"><img id="collapseimg_forumhome_stats" src="http://a7la.honor.es/dev1/images/collapse_thead.gif" alt="" border="0"></a>
            إحصائيات {L_INDEX}
        </td>
    </tr>
</tbody>
<tbody id="collapseobj_forumhome_stats" style="">
    <tr>
        <td class="alt2"><img title="إحصائيات {L_INDEX}" src="http://a7la.honor.es/dev1/images/stats.gif" alt="إحصائيات {L_INDEX}" border="0"></td>
        <td class="alt1" width="100%">
        <div class="smallfont">
            <div>
                {TOTAL_POSTS} ,
                {TOTAL_USERS}
                {NEWEST_USER}
            </div>
                       <br />
            <div>

                          <b>
                            <span style="display: block; margin: 0.5em 0 1.0em;">
                              <b><span class="glow-super blink1" style="color: #FF0000;">الإداريين</span></b>  ?
                              <b><span style="color: #CC7700;">المشرفين العوام</span></b>  ?
                              <b><span style="color: #009933;">المراقبين</span></b>  ?
                              <b><span style="color: #FFB700;">كبار الشخصيات</span></b>  ?
                              <b><span style="color: #0033FF;">الخبراء</span></b>  ?
                              <b><span style="color: #0091FF;">التميّز</span></b>  ?
                              <b><span style="color: #25C2C7;">الأعضاء النشطاء</span></b>  ?
                              <b><span style="color: #000000;">الأعضاء</span></b>  ?
                              <b><span style="color: #666362;">الأعضاء الجدد</span></b>
                            </span>
                          </b>
                          <style>
                            .blink1:hover {
                            background: url("http://a7la.honor.es/dev1/images/blink1.gif") repeat scroll 0% 0% transparent;
                            }
                            .glow-super {
                            color: #B80000;
                            font-weight: bold;
                            text-shadow: 2px 0px 11px #B80000;
                            background: url("http://a7la.honor.es/dev1/images/backround21.gif") repeat scroll 0% 0% transparent;
                            }
                          </style>

            </div>

        </div>
        </td>
    </tr>
</tbody>
</table>
<!-- END disable_viewonline -->
<br>

<table border="0" cellpadding="0" cellspacing="2" width="100%">
<tbody><tr valign="bottom">
    <td>
        <table border="0" cellpadding="2" cellspacing="0">
        <tbody><tr>
            <td><img title="يحتوي مشاركات جديدة" src="{FORUM_NEW_IMG}" alt="يحتوي مشاركات جديدة" border="0"></td>
            <td class="smallfont">&nbsp; يحتوي مشاركات جديدة</td>
        </tr>
        <tr>
            <td><img title="لا يحتوي مشاركات جديدة" src="{FORUM_IMG}" alt="لا يحتوي مشاركات جديدة" border="0"></td>
            <td class="smallfont">&nbsp; لا يحتوي مشاركات جديدة</td>
        </tr>
        <tr>
            <td><img title="منتدى مغلق" src="{FORUM_LOCKED_IMG}" alt="منتدى مغلق" border="0"></td>
            <td class="smallfont">&nbsp; منتدى مغلق</td>
        </tr>

        </tbody></table>
    </td>
 <!-- BEGIN switch_user_logged_in -->
<td align="left"><a rel="nofollow" href="{U_LOGIN_LOGOUT}" onclick="return log_out('هل أنت متأكد برغبتك في الخروج من المنتدى؟')">تسجيل {L_LOGIN_LOGOUT}</a></td>
 <!-- END switch_user_logged_in -->
</tr>
</tbody></table>




{AUTO_DST}

<!-- BEGIN switch_fb_index_login -->
<div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
FB.init({
    appId: '{switch_fb_index_login.FACEBOOK_APP_ID}',
 	status: true,
 	cookie: true,
 	xfbml: true,
    oauth: true
});
//]]>
</script>
<!-- END switch_fb_index_login -->