            
<script type="text/javascript">
//<![CDATA[
var multiquote_img_off = '{JS_MULTIQUOTE_IMG_OFF}', multiquote_img_on = '{JS_MULTIQUOTE_IMG_ON}', _atr = '{JS_DIR}addthis/', _ati = '{PATH_IMG_FA}addthis/'{ADDTHIS_LANG}, addthis_localize = { share_caption: "{L_SHARE_CAPTION}", email: "{L_EMAIL}", email_caption: "{L_EMAIL_CAPTION}", favorites: "{L_SHARE_BOOKMARKS}", print: "{L_PRINT}", more: "{L_MORE}" };
$(function(){
	_atc.cwait = 0;
	$('.addthis_button').mouseup(function(){
		if ($('#at15s').css('display') == 'block') {
			addthis_close();
		}
	});
});

var hiddenMsgLabel = { visible:'{JS_HIDE_HIDDEN_MESSAGE}', hidden:'{JS_SHOW_HIDDEN_MESSAGE}' };
showHiddenMessage = function(id)
{
    try
    {
        var regId = parseInt(id, 10);
        if( isNaN(regId) ) { regId = 0; }
        
        if( regId > 0)
        {
            $('.post--' + id).toggle(0, function()
			{
				if( $(this).is(":visible") )
				{
					$('#hidden-title--' + id).html(hiddenMsgLabel.visible);
				}
				else
				{
					$('#hidden-title--' + id).html(hiddenMsgLabel.hidden);
				}
			});
        }
    }
    catch(e) { }
    
	return false;
};

//]]>
</script>

<br />
	<br />
{postrow.displayed.POST_SUBJECT}
<a name="poststop" id="poststop"></a>

<!-- controls above postbits -->
 <table style="margin-bottom:3px" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr valign="bottom">
	
		<td class="smallfont"><span class="notificationcounter">!</span>&nbsp;&nbsp;قم بقراءة قوانين الموقع قبل اضافة رد  , 
	<a href="/h8-privacy.php">اضغط هنا</a>
                  <br><br>
<!-- BEGIN switch_user_authreply -->
<a href="{U_POST_REPLY_TOPIC}" rel="nofollow"><img src="{REPLY_IMG}" id="i_reply" alt="{L_POST_REPLY_TOPIC}" align="middle" border="0" /></a>
<!-- END switch_user_authreply -->
                  </td>
</tr>

<!-- BEGIN topicpagination -->
	<tr>
		<td class="row1 pagination" colspan="2" align="left" valign="top"><span class="gensmall">{PAGINATION}</span></td>
	</tr>
<!-- END topicpagination -->

</tbody></table>
<!-- / controls above postbits -->

{POLL_DISPLAY}

<!-- toolbar -->
<table class="tborder" cellpadding="6" cellspacing="1" border="0" width="100%" align="center" style="border-bottom-width:0px">
<tr>
	<td class="thead" width="100%">
		<div class="smallfont">
		
		 
		</div>
	</td>
  
 <!-- BEGIN switch_twitter_btn -->
			<span id="twitter_btn" style="margin-left: 6px; ">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</span>
			<!-- END switch_twitter_btn -->
			<!-- BEGIN switch_fb_likebtn -->
			<span id="fb_likebtn" style="margin-left: 6px; ">
				<iframe src="http://www.facebook.com/plugins/like.php?href={FORUM_URL}{TOPIC_URL}&layout=button_count&show_faces=false&width=100&action=like&colorscheme=light&height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
			</span>
			<!-- END switch_fb_likebtn -->
	<td class="vbmenu_control" id="threadtools" nowrap="nowrap">
<span class="gensmall bold">
				<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&pub=forumotion">{L_SHARE}</a>
				 </span>
	</td>
	<td class="vbmenu_control" id="displaymodes" nowrap="nowrap">
	 <span class="gensmall bold">
				
				<script type="text/javascript">//<![CDATA[
					var url_favourite = '{U_FAVOURITE_JS_PLUS_MENU}';
					var url_newposts = '{U_NEWPOSTS_JS_PLUS_MENU}';
					var url_egosearch = '{U_EGOSEARCH_JS_PLUS_MENU}';
					var url_unanswered = '{U_UNANSWERED_JS_PLUS_MENU}';
					var url_watchsearch = '{U_WATCHSEARCH_JS_PLUS_MENU}';
					var url_tellfriend = '{U_TELLFRIEND_JS_PLUS_MENU}';
					insert_plus_menu('f{FORUM_ID}&t={TOPIC_ID}','{JS_SESSION_ID}', {JS_AUTH_FAVOURITES});
				//]]>
				</script>
			</span>
  </td>
</tr>
</table>
<!-- / toolbar -->
  <br />
<style type="text/css">
#avataruser img {
    max-height:260px;
    max-width:180px;
}
</style>
  <!-- BEGIN postrow -->
  <div id="posts">
	<!-- BEGIN displayed -->
<div align="center">
	<div class="page" style="width:100%; text-align:right">
		<!-- <div style="padding:0px 25px 0px 25px" align="right"> -->
		<div align="right">
	<div id="edit5805278" style="padding:0px 0px 6px 0px">
	<!-- this is not the last post shown on the page -->
<table id="post5805278" class="tborder vbseo_like_postbit postdev" align="center" border="0" cellpadding="6" cellspacing="0" width="100%">
<tbody><tr>
		<td class="thead" style="font-weight:normal; border: 0px solid #EEE; border-left: 0px">
			
		</td>
		<td class="thead" style="font-weight:normal; border: 0px solid #EEE; border-right: 0px" align="left">
			&nbsp;
			#<a href="{postrow.displayed.POST_URL}" rel="nofollow" id="postcount5805278" name="1" title="permalink"><strong>{postrow.displayed.COUNT_POSTS}</strong></a>
		</td>
</tr>
<tr valign="top">
	<td class="alt1" style=" border-top: 0px; border-bottom: 0px; " width="175">
	<div class="userinfo12">
<center>
<img src="http://a7la.pe.hu/dev1/images/userinfo.png">
			<div id="postmenu_5805278">
			</div>
				<!-- Username -->
				<center>
				<table dir="rtl">
					<tbody><tr>
					<td>
						</td>
						<td align="center">
				<span id="name_{postrow.displayed.COUNT_POSTS}" class="smallusername">{postrow.displayed.POSTER_NAME}</span>
				</td>
					</tr>
				</tbody></table>
				</center>
				<!-- Username -->
			<div class="smallfont">{postrow.displayed.POSTER_RANK}</div>
			<div class="smallfont">{postrow.displayed.RANK_IMAGE}</div>

			<div><span class="rank">{postrow.displayed.POSTER_RPG}</span></div>
                        <script>
                          $(".rank").contents(':not(div)').remove();
                        </script>

				<div class="smallfont" id="avataruser">
					&nbsp;<br>{postrow.displayed.POSTER_AVATAR}
				</div>
			
</center>
			<div class="smallfont">
				&nbsp;<br>
								<center>
	<!-- BEGIN profile_field -->
<div dir="rtl" class="userinfoborder" align="right"><span style="width: 15px; text-align: center;padding:5px; background-color:#FFB635; color:#FFF; font-size: 15px" class="fa">  </span>&nbsp;&nbsp;{postrow.displayed.profile_field.LABEL}{postrow.displayed.profile_field.CONTENT}
          </div>
	<!-- END profile_field -->			
<!-- SOCIALATE -->
<br>
				<br>
				<p>
				</p>
<p></p>
				<div>    </div>
				<div style="text-align:center; margin-top:4px;" class="offlinebutton">
{postrow.displayed.ONLINE_IMG}
</div>
				<br>
				<center>
<!-- BEGIN switch_vote_active -->
<!-- BEGIN switch_vote -->
<span class="vote-button">
<span id="reputationmenu_5805278"><a href="{postrow.displayed.switch_vote_active.switch_vote.U_VOTE_PLUS}" rel="nofollow" id="reputation_5805278"><span style="color:#6ac300; font-size: 24px" class="fa hint--top" data-hint="تقييم العضو"></span></a></span> 
</span>
<!-- END switch_vote -->
<!-- END switch_vote_active -->
<script type="text/javascript"> vbrep_register("5805278")</script>
<span style="color:#CC0000; font-size: 24px" class="fa hint--top" data-hint="إستعراض رقم الـ IP للمُرسل" id="ip_topic">{postrow.displayed.IP_IMG}</span>
&nbsp;<span style="color:#CC0000; font-size: 24px" class="fa hint--top" data-hint="تقرير بمشاركة سيئة" id="report_topic">{postrow.displayed.REPORT_IMG}</span>
</center>
</center>
			</div>
</div>
<br><br>

<span id="friend_{postrow.displayed.COUNT_POSTS}"></span>
<script>
var username = $('#name_{postrow.displayed.COUNT_POSTS}').text();
$('#friend_{postrow.displayed.COUNT_POSTS}').html('<a rel="nofollow" class="edit_friends_link button hint--left hint--success" data-hint="أضافة" href="/profile?friend=' + username + '&mode=editprofile&page_profil=friendsfoes"><span class="fa">  </span></a>');
</script>
  <span class="name_topic"></span>
	</td>
	<td class="alt1" id="td_post_5805278" style="border-left: 0px solid #EEE">
			<!-- icon and title -->
			<div class="smallfont">
				<img title="{postrow.displayed.L_MINI_POST_ALT}" class="inlineimg" src="{postrow.displayed.MINI_POST_IMG}" alt="{postrow.displayed.L_MINI_POST_ALT}" border="0">
				<strong>{postrow.displayed.POST_SUBJECT}</strong>
<!-- status icon and date -->

<img src="{postrow.displayed.MINI_TIME_IMG}" class="inlineimg" alt="" border="0" />{postrow.displayed.POST_DATE}
			<a name="newpost"></a> بواسطة WEB <span class="fa hint--top" data-hint="المتصفح" style="color:#AAA">  </span>
			<!-- / status icon and date -->
<!--<span style="float: left;"><span style="color:#FF0000; font-size: 16px" class="fa">  </span><span>&nbsp;&nbsp;إن كنت ترى ان هذه المشاركة سيئة  , 
				</span>
<script>jQuery(document).ready(function(){jQuery.get('#', function(data) {link = jQuery('#report_topic a', data).attr('href');if(link){jQuery('#report_topic_2').html('<a rel="nofollow" href="'+link+'"><span>اضغط هنا</span></a></span>');}else{jQuery('#report_topic_2').html('');}});});</script>
<span id="report_topic_2"></span>-->
			</div>
			<hr style="color:#EEE; background-color:#EEE" size="1">
			<!-- / icon and title -->
		<!-- message -->
		<div class="postbitcontent" style="padding-top:30px; padding-bottom: 60px;" id="post_message_5805278">
			<div id="threadcontent">
			<center>{postrow.displayed.MESSAGE}</center>
			</div>
		</div>
		<!-- / message -->


<!-- BEGIN switch_attachments -->
<center>
<fieldset class="fieldset" style="width: 80%;">
<legend>الملفات المرفقة</legend> 
      <!-- BEGIN switch_post_attachments -->
<!-- BEGIN switch_dl_att -->
<table cellpadding="0" cellspacing="3" border="0">
  <table border="1" width="100%" cellspacing="0" bordercolor="#000000" style="border-collapse: collapse">
    <tr>
      <td align="center" style="background-color: rgba(12, 31, 92, 0.9);">
        <b>
          <font color="#FFFFFF">اسم الملف</font>
        </b>
      </td>
      <td align="center" style="background-color: rgba(12, 31, 92, 0.9);">
        <b>
          <font color="#FFFFFF">نوع الملف</font>
        </b>
      </td>
      <td align="center" style="background-color: rgba(12, 31, 92, 0.9);">
        <b>
          <font color="#FFFFFF">حجم الملف</font>
        </b>
      </td>
      <td align="center" style="background-color: rgba(12, 31, 92, 0.9);">
        <b>
          <font color="#FFFFFF">التحمــيل</font>
        </b>
      </td>
      <td align="center" style="background-color: rgba(12, 31, 92, 0.9);">
        <b>
          <font color="#FFFFFF">مرات التحميل</font>
        </b>
      </td>
    </tr>
    <tr>
      <td align="center">
        {postrow.displayed.switch_attachments.switch_post_attachments.switch_dl_att.ATTACHMENT}
      </td>
      <td align="center">
        <img src="{postrow.displayed.switch_attachments.switch_post_attachments.U_IMG}" style="max-width:20px; max-height:20px;" border="0" />
      </td>
      <td align="center">
        {postrow.displayed.switch_attachments.switch_post_attachments.FILE_SIZE}
      </td>
      <td align="center">
        <a rel="nofollow" href="{postrow.displayed.switch_attachments.switch_post_attachments.switch_dl_att.U_ATTACHMENT}" class="fa hint--top" data-hint="اضغط هنا لتحميل الملف">
          <img src="http://i38.servimg.com/u/f38/18/75/64/72/aiuo_810.png" border="0" style="vertical-align:absmiddle; cursor:hand; max-width:20px; max-height:20px; cursor: url('http://i32.servimg.com/u/f32/17/42/09/54/handcu10.png'), auto;" hspace="0" />
        </a>
      </td>
      <td align="center">
        {postrow.displayed.switch_attachments.switch_post_attachments.NB_DL}
      </td>
    </tr>
  </table>
<!-- END switch_dl_att -->
<!-- BEGIN switch_no_dl_att -->
{postrow.displayed.switch_attachments.switch_post_attachments.switch_no_dl_att.ATTACHMENT}
{postrow.displayed.switch_attachments.switch_post_attachments.switch_no_dl_att.ATTACHMENT_DEL}
<FONT color=Red>{postrow.displayed.switch_attachments.switch_post_attachments.switch_no_dl_att.TEXT_NO_DL}</FONT>
? الحجم ({postrow.displayed.switch_attachments.switch_post_attachments.FILE_SIZE}) ({postrow.displayed.switch_attachments.switch_post_attachments.NB_DL})
</table>
  <!-- END switch_no_dl_att -->
<!-- END switch_post_attachments -->
</fieldset>
</center>
<br />
<br />
<!-- END switch_attachments -->


		<!-- sig -->
<table class="sigdev" align="center" border="0" cellpadding="6" cellspacing="0" width="70%">
<tbody><tr>
	<td class="thead" align="center">توقيع {postrow.displayed.POSTER_NAME}</td>
</tr>
<tr>
	<td class="alt1" id="signature" title="التوقيع" align="center">{postrow.displayed.SIGNATURE}</td>
</tr>
</tbody></table>
	
		<!-- / sig -->
  <!-- edit note -->
<center>
<br />
<script>
$("#edit_reason br").remove();
$("#signature br:lt(2)").remove();
</script>
<div class="smallfont" dir="rtl" id="edit_reason" align="center">
{postrow.displayed.EDITED_MESSAGE}
</div>
<br />
</center>
    <!-- / edit note -->
	</td>
</tr>
<tr>
	<td class="alt2" style="border: 0px solid #EEE; border-top: 0px">
			</td>
	<td class="alt1" style="border: 0px solid #EEE; border-right: 0px; border-top: 0px" align="left">
	    <span style="margin-top: -23px;" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + document.URL ,'facebook-share-dialog','width=626,height=436'); return false;" class="button hint--top" data-hint="أنشر على Facebook"><span style="font-size: 16px;" class="fa">  </span></span> 
		<span style="margin-top: -23px;" onclick="window.open('http://twitter.com/share?url=' + document.URL ,'twitter-share-dialog','width=626,height=436'); return false;" class="button hint--top" data-hint="أنشر على Twitter"><span style="font-size: 16px;" class="fa">  </span></span> 
			{postrow.displayed.QUOTE_IMG} {postrow.displayed.EDIT_IMG} {postrow.displayed.DELETE_IMG}
	</td>
</tr>
</tbody></table>
	</div>
		</div>
	</div>
</div>

	<!-- END displayed -->
</div>
	<!-- END postrow -->
	<!-- BEGIN no_post -->
	<tr align="center">
		<td class="row1" colspan="3" height="28">
			<span class="genmed">{no_post.L_NO_POST}</span>
		</td>
	</tr>
	<!-- END no_post -->


      
      

<!-- BEGIN topicpagination -->
<table class="tborder" cellpadding="3" cellspacing="1" border="0" align="left">
<tr>
	<td class="alt1">{PAGINATION}</td>
</tr>
</table>
  	<!-- END topicpagination -->

      
      

<!-- عادل ريحان المصري -->


	
<!-- controls below postbits -->
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:-3px">
<tr>
		<td class="smallfont">
<!-- BEGIN switch_user_authpost -->
				<!-- END switch_user_authpost -->
				<!-- BEGIN switch_user_authreply -->
				<a href="{U_POST_REPLY_TOPIC}"><img src="{REPLY_IMG}" id="i_reply" alt="{L_POST_REPLY_TOPIC}" border="0" /></a>
				<!-- END switch_user_authreply -->
</td>
</tr>
</table>
<!-- / controls below postbits -->

<br>

<table class="tborder" align="center" border="0" cellpadding="6" cellspacing="0" width="100%">
	<tbody><tr>
		<td class="thead">مواقع النشر (المفضلة)</td>
	</tr>
	<tr>
		<td class="alt2" style="padding-top:0px"><div style="clear:both"></div><ul style="list-style-type:none; margin:0px; padding:0px"><li class="smallfont" style="width:25%; min-width:160px; float:right; margin-top:6px">
	
		<a rel="nofollow" href="http://www.google.com/bookmarks/mark?op=edit&amp;output=popup&amp;bkmk=t{TOPIC_ID}-topic&amp;title={PAGE_TITLE}" target="socialbookmark"><img title="إرسال الموضوع إلى Google" src="http://a7la.pe.hu/dev1/images/bookmarksite_google.gif" alt="إرسال الموضوع إلى Google" class="inlineimg" border="0"></a>
	
	<a rel="nofollow" href="http://www.google.com/bookmarks/mark?op=edit&amp;output=popup&amp;bkmk=t{TOPIC_ID}-topic&amp;title={PAGE_TITLE}" target="socialbookmark" style="text-decoration:none">Google</a>
</li><li class="smallfont" style="width:25%; min-width:160px; float:right; margin-top:6px">
	
		<a rel="nofollow" href="http://www.facebook.com/sharer.php?u=t{TOPIC_ID}-topic&amp;title={PAGE_TITLE}" target="socialbookmark"><img title="إرسال الموضوع إلى Facebook" src="http://a7la.pe.hu/dev1/images/fb.jpg" alt="إرسال الموضوع إلى Facebook" class="inlineimg" border="0"></a>
	
	<a rel="nofollow" href="http://www.facebook.com/sharer.php?u=t{TOPIC_ID}-topic&amp;title={PAGE_TITLE}" target="socialbookmark" style="text-decoration:none">Facebook</a>
</li><li class="smallfont" style="width:25%; min-width:160px; float:right; margin-top:6px">
	
		<a rel="nofollow" href="http://twitter.com/home?status=t{TOPIC_ID}-topic" target="socialbookmark"><img title="إرسال الموضوع إلى twitter" src="http://a7la.pe.hu/dev1/images/bookmarksite_twitter.gif" alt="إرسال الموضوع إلى twitter" class="inlineimg" border="0"></a>
	
	<a rel="nofollow" href="http://twitter.com/home?status=t{TOPIC_ID}-topic" target="socialbookmark" style="text-decoration:none">twitter</a>
</li><li class="smallfont" style="width:25%; min-width:160px; float:right; margin-top:6px">
	
		<a rel="nofollow" href="http://digg.com/submit?phrase=2&amp;url=t{TOPIC_ID}-topic&amp;title={PAGE_TITLE}" target="socialbookmark"><img title="إرسال الموضوع إلى Digg" src="http://a7la.pe.hu/dev1/images/bookmarksite_digg.gif" alt="إرسال الموضوع إلى Digg" class="inlineimg" border="0"></a>
	
	<a rel="nofollow" href="http://digg.com/submit?phrase=2&amp;url=t{TOPIC_ID}-topic&amp;title={PAGE_TITLE}" target="socialbookmark" style="text-decoration:none">Digg</a>
</li></ul><div style="clear:both"></div></td>
	</tr>
	</tbody></table>

<br />

	<table class="tborder" align="center" border="0" cellpadding="6" cellspacing="0" width="100%">
	<thead>
		<tr>
			<td class="tcat" colspan="2">
				
				<p align="center">*=== (( ما يلفظ من قول إلا لديه رقيب عتيد )) ===* </p>
			</td>
		</tr>
	</thead>
	
	<tbody id="collapseobj_quickreply" style="">
	<tr>
		<td class="panelsurround" align="center">
			<div class="panel">
				<div style="width:640px" align="right">
					<div class="smallfont">الرسالة:</div>
{QUICK_REPLY_FORM}
				</div>
			</div>

			<br>
<center style="font-weight: normal"><span class="notificationcounter">!</span>&nbsp;&nbsp;قم بقراءة قوانين الموقع قبل اضافة رد  , 
	<a href="/h8-privacy.php">اضغط هنا</a></center>
			
		</td>
	</tr>
	</tbody>
	</table>

<br>

<div class="smallfont" align="center">
		<strong>«</strong>
			<a href="{U_VIEW_OLDER_TOPIC}" rel="nofollow">الموضوع السابق</a>
			|
			<a href="{U_VIEW_NEWER_TOPIC}" rel="nofollow">الموضوع التالي</a>
		<strong>»</strong>
	</div>

<br>

<!-- BEGIN viewtopic_bottom -->
<table class="noprint" width="90%" border="0" cellspacing="2" cellpadding="0" align="center">
	<tr>
		<td colspan="2" align="center" valign="top" nowrap="nowrap"><br />{S_TOPIC_ADMIN}<br />
			<form name="action" method="get" action="{S_FORM_MOD_ACTION}">
				<input type="hidden" name="t" value="{TOPIC_ID}" />

				<!-- <input type="hidden" name="sid" value="{S_SID}" /> -->
				<input type="hidden" name="{SECURE_ID_NAME}" value="{SECURE_ID_VALUE}" />

				<span class="smallfont">{L_MOD_TOOLS}<br />{S_SELECT_MOD} <input class="liteoption" type="submit" value="{L_GO}" /></span>
			</form>
		</td>
	</tr>
</table>
<!-- END viewtopic_bottom -->

<br>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr valign="bottom">
	<td valign="top" width="100%">
		<table class="tborder" border="0" cellpadding="6" cellspacing="0" width="210">
<thead>
<tr>
	<td class="thead">
		<a style="float:left" href="#top" onclick="return toggle_collapse('forumrules')"><img id="collapseimg_forumrules" src="http://a7la.pe.hu/dev1/images/collapse_thead.gif" alt="" border="0"></a>
		تعليمات المشاركة
	</td>
</tr>
</thead>
<tbody id="collapseobj_forumrules" style="">
<tr>
	<td class="alt1" nowrap="nowrap"><div class="smallfont">
		
		<div><strong>{S_AUTH_LIST}</strong></div>
		<hr>
		
		<div><a rel="nofollow" href="#" target="_blank">BB code</a> is <strong>في</strong></div>
		<div><a rel="nofollow" href="#" target="_blank">الابتسامات</a> <strong>في</strong></div>
		<div><a rel="nofollow" href="#" target="_blank">كود [IMG]</a> <strong>في</strong></div>
		<div>كود HTML <strong>متاحة</strong></div>
                <div><a rel="nofollow" href="#" target="_blank">Trackbacks</a> are <strong>في</strong></div>
		<div><a rel="nofollow" href="#" target="_blank">Pingbacks</a> are <strong>في</strong></div>
		<div><a rel="nofollow" href="#" target="_blank">Refbacks</a> are <strong>في</strong></div>
		<hr>
		<div><a rel="nofollow" href="/h8-privacy.php" target="_blank">قوانين المنتدى</a></div>
	</div></td>
</tr>
</tbody>
</table>
	</td>
	<td class="smallfont" align="left">
		<table border="0" cellpadding="0" cellspacing="0">
		
		<tbody><tr>
			<td>
			<div class="smallfont" style="text-align:right; white-space:nowrap">
	<form action="{S_JUMPBOX_ACTION}" method="get" name="jumpbox" onsubmit="if(document.jumpbox.f.value == -1){return false;}">
	<input name="s" value="" type="hidden">
	<input name="daysprune" value="" type="hidden">
	<strong>الانتقال السريع</strong><br>
	{S_JUMPBOX_SELECT}
        <input class="button" value="إذهب" type="submit">
	</form>
</div>
			</td>
		</tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>



    <!-- BEGIN switch_image_resize -->
    <script type="text/javascript">
    //<![CDATA[$(resize_images({
     'selector' : '.postbody', 'max_width' :
    {switch_image_resize.IMG_RESIZE_WIDTH}, 'max_height' :
    {switch_image_resize.IMG_RESIZE_HEIGHT} }));//]]></script>
    <!-- END switch_image_resize -->
<script src="{JS_DIR}addthis/addthis_widget.js" type="text/javascript"></script>
          
<br />